In [2]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 99

In [3]:
df_5 = pd.read_csv('loans_2007.csv', sep=',', encoding='UTF8', nrows=5)
df_5

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

### Data Quality Issues:
- Last 2 rows need to be remove
- What are the unique values for each column?
- Interest Rate has a % sign
- Is it worth remapping variables such as initial_list_status (enumerated)
- employment length
- home_ownership, loan status, purpose should be enumerated
- every column at minimum has 3 nulls
- row 39786 has nulls
- need to conver rows from objects and floats to there appropriate data type

- parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"]

-convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"]

term, months, emp_length, rent, verification_status, loan_status

In [4]:
df_1000 = pd.read_csv('loans_2007.csv', sep=',', encoding='UTF8', nrows=1000)
df_1000.memory_usage(deep=True).sum()/(1024*1024)

1.5273666381835938

In [5]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
for chunk in chunk_iter:
    print(chunk.memory_usage(deep=True).sum()/(1024*1024))

4.580394744873047
4.576141357421875
4.577898979187012
4.579251289367676
4.575444221496582
4.577326774597168
4.575918197631836
4.578287124633789
4.576413154602051
4.57646369934082
4.589176177978516
4.588043212890625
4.594850540161133
4.828314781188965
0.868586540222168

In [6]:
#df = pd.read_csv('loans_2007.csv', sep=',', encoding='UTF8', nrows=999999)
df = pd.read_csv('loans_2007.csv', sep=',', encoding='UTF8')
df.tail(5) #remove last two columns
df = df[:42536]

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.head(5)

df_size = df.size
df_info = df.info(memory_usage="deep")
df_shape = df.shape
df_vars = vars(df)
df_shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42536 entries, 0 to 42535
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42536 non-null  object
 1   member_id                   42535 non-null  float64
 2   loan_amnt                   42535 non-null  float64
 3   funded_amnt                 42535 non-null  float64
 4   funded_amnt_inv             42535 non-null  float64
 5   term                        42535 non-null  object
 6   int_rate                    42535 non-null  object
 7   installment                 42535 non-null  float64
 8   grade                       42535 non-null  object
 9   sub_grade                   42535 non-null  object
 10  emp_title                   39909 non-null  object
 11  emp_length                  41423 non-null  object
 12  home_ownership              42535 non-null  object
 13  annual_inc                  42531 non-null  float64
 14  verification_status         42535 non-null  object
 15  issue_d                     42535 non-null  object
 16  loan_status                 42535 non-null  object
 17  pymnt_plan                  42535 non-null  object
 18  purpose                     42535 non-null  object
 19  title                       42522 non-null  object
 20  zip_code                    42535 non-null  object
 21  addr_state                  42535 non-null  object
 22  dti                         42535 non-null  float64
 23  delinq_2yrs                 42506 non-null  float64
 24  earliest_cr_line            42506 non-null  object
 25  inq_last_6mths              42506 non-null  float64
 26  open_acc                    42506 non-null  float64
 27  pub_rec                     42506 non-null  float64
 28  revol_bal                   42535 non-null  float64
 29  revol_util                  42445 non-null  object
 30  total_acc                   42506 non-null  float64
 31  initial_list_status         42535 non-null  object
 32  out_prncp                   42535 non-null  float64
 33  out_prncp_inv               42535 non-null  float64
 34  total_pymnt                 42535 non-null  float64
 35  total_pymnt_inv             42535 non-null  float64
 36  total_rec_prncp             42535 non-null  float64
 37  total_rec_int               42535 non-null  float64
 38  total_rec_late_fee          42535 non-null  float64
 39  recoveries                  42535 non-null  float64
 40  collection_recovery_fee     42535 non-null  float64
 41  last_pymnt_d                42452 non-null  object
 42  last_pymnt_amnt             42535 non-null  float64
 43  last_credit_pull_d          42531 non-null  object
 44  collections_12_mths_ex_med  42390 non-null  float64
 45  policy_code                 42535 non-null  float64
 46  application_type            42535 non-null  object
 47  acc_now_delinq              42506 non-null  float64
 48  chargeoff_within_12_mths    42390 non-null  float64
 49  delinq_amnt                 42506 non-null  float64
 50  pub_rec_bankruptcies        41170 non-null  float64
 51  tax_liens                   42430 non-null  float64
dtypes: float64(30), object(22)
memory usage: 66.4 MB

(42536, 52)

### Converging to to 5 MB:
 - 1.55 MB per 1k rows
 - 4.65 MB per 3k rows
 - 67.4 MB per 42538 rows

5/x = 67.4/42538

(42538 * 5)/ 67.4 = x

x = 3156 rows for 5 MBs

In [8]:
import numpy as np
int_types = ["int8", "int16", "int32", "int64"]
float_types = ['float_', 'float16', 'float32', 'float64']
object_types = ['string_', 'unicode_', 'mixed types']
#for it in int_types:
#    print(np.info(it))
    
    
obj_cols = df.select_dtypes(include=['object'])
flo64_cols = df.select_dtypes(include=['float64'])

In [9]:
txt = "There are {:.2f} string columns"
print(txt.format(obj_cols.shape[1]))

There are 22.00 string columns

In [10]:
txt = "There are {:.2f} numeric columns"
print(txt.format(flo64_cols.shape[1])) 
#flo64_cols.shape[1]

There are 30.00 numeric columns

In [11]:
for i in flo64_cols:
    print(i , df[i].isnull().sum())

member_id 1
loan_amnt 1
funded_amnt 1
funded_amnt_inv 1
installment 1
annual_inc 5
dti 1
delinq_2yrs 30
inq_last_6mths 30
open_acc 30
pub_rec 30
revol_bal 1
total_acc 30
out_prncp 1
out_prncp_inv 1
total_pymnt 1
total_pymnt_inv 1
total_rec_prncp 1
total_rec_int 1
total_rec_late_fee 1
recoveries 1
collection_recovery_fee 1
last_pymnt_amnt 1
collections_12_mths_ex_med 146
policy_code 1
acc_now_delinq 30
chargeoff_within_12_mths 146
delinq_amnt 30
pub_rec_bankruptcies 1366
tax_liens 106

In [12]:
test = df['loan_amnt'].isnull()
df[test == True]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
39786,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
test = df['member_id'].isnull()
df[test == True]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
39786,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_39786 = df[:39786]
df_39786[:5]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [24]:
cols_int32 = [
    'id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 
    'annual_inc', 'revol_bal'
]
cols_int8 = ['delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 
             'total_acc', 'policy_code'
            ]

splitty = ['int_rate', 'revol_util']
# NaN: collections_12_mths_ex_med

cols_flo16 = ['dti', 'total_rec_late_fee']
cols_flo32 = ['installment','out_prncp','out_prncp_inv','total_pymnt_inv',
              'total_rec_prncp', 'total_rec_int', 'recoveries', 
              'collection_recovery_fee','last_pymnt_amnt']
cols_flo64 = ['total_pymnt']

for i in cols_int32:
    df_39786[i] = df_39786[i].astype('int32')
for i in cols_flo32:
    df_39786[i] = df_39786[i].astype('float32')
for i in cols_flo16:
    df_39786[i] = df_39786[i].astype('float16')
for i in cols_int8:
    df_39786[i] = df_39786[i].astype('int8')

#df_39786['int_rate'] = df_39786['int_rate'].str.rstrip('%').astype('float') / 100.0
#df_39786['revol_util'] = df_39786['revol_util'].str.rstrip('%').astype('float') / 100.0
#revol_cleaned = df_39786['revol_util'].str.rstrip("%")
#df_39786['revol_util'] = pd.to_numeric(revol_cleaned)

#term_cleaned = df_39786['term'].str.lstrip(" ").str.rstrip(" months")
#df_39786['term'] = pd.to_numeric(term_cleaned)

#df_39786['id'].min() 
df_39786['id'].max()
df_39786['member_id'].max()
df_39786['policy_code'].max()
#df_39786['revol_bal'].min()

/var/folders/kw/srzmwfqn4sbcw3361mxwtgg80000gn/T/ipykernel_69147/1251808426.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_39786[i] = df_39786[i].astype('int32')
/var/folders/kw/srzmwfqn4sbcw3361mxwtgg80000gn/T/ipykernel_69147/1251808426.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_39786[i] = df_39786[i].astype('float32')
/var/folders/kw/srzmwfqn4sbcw3361mxwtgg80000gn/T/ipykernel_69147/1251808426.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_39786[i] = df_39786[i].astype('float16')
/var/folders/kw/srzmwfqn4sbcw3361mxwtgg80000gn/T/ipykernel_69147/1251808426.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_39786[i] = df_39786[i].astype('int8')

1

In [26]:
#df_39786['int_rate'].str.replace(r'%', r'.0').astype('float') / 100.0

#print(df_39786['int_rate'])

#print(df_39786['int_rate'])

#for i in splitty:
#    df_39786[i] = 
#df_39786['int_rate'] = df_39786['int_rate'].str.rstrip('%').astype('float') / 100.0

In [27]:
df_39786['int_rate']

0        0.1065
1        0.1527
2        0.1596
3        0.1349
4        0.1269
          ...
39781    0.0807
39782    0.1028
39783    0.0807
39784    0.0743
39785    0.1375
Name: int_rate, Length: 39786, dtype: float64

In [28]:
obj_cols = df_39786.select_dtypes(include=['object'])
#flo64_cols = df.select_dtypes(include=['float64'])

unique = []
for i in obj_cols:
    unique.append(df_39786[i].value_counts())

In [29]:
unique

[B    12035
 A    10085
 C     8111
 D     5325
 E     2858
 F     1054
 G      318
 Name: grade, dtype: int64,
 B3    2924
 A4    2886
 A5    2742
 B5    2709
 B4    2514
 C1    2142
 B2    2058
 C2    2014
 B1    1830
 A3    1810
 C3    1529
 A2    1508
 D2    1352
 C4    1238
 C5    1188
 D3    1178
 A1    1139
 D4     986
 D1     931
 D5     878
 E1     768
 E2     659
 E3     556
 E4     455
 E5     420
 F1     329
 F2     251
 F3     187
 F4     169
 F5     118
 G1     105
 G2      78
 G4      56
 G3      49
 G5      30
 Name: sub_grade, dtype: int64,
 US Army                          134
 Bank of America                  109
 IBM                               66
 AT&T                              60
 Kaiser Permanente                 57
                                 ...
 Merck and Company Inc.             1
 duncan tire co                     1
 Bright House Networks              1
 Florida Power & Light Company      1
 Evergreen Center                   1
 Name: emp_title, Length: 28862, dtype: int64,
 10+ years    8899
 < 1 year     4590
 2 years      4394
 3 years      4098
 4 years      3444
 5 years      3286
 1 year       3247
 6 years      2231
 7 years      1775
 8 years      1485
 9 years      1259
 Name: emp_length, dtype: int64,
 RENT        18918
 MORTGAGE    17703
 OWN          3064
 OTHER          98
 NONE            3
 Name: home_ownership, dtype: int64,
 Not Verified       16926
 Verified           12844
 Source Verified    10016
 Name: verification_status, dtype: int64,
 Dec-2011    2267
 Nov-2011    2232
 Oct-2011    2118
 Sep-2011    2067
 Aug-2011    1934
 Jul-2011    1875
 Jun-2011    1835
 May-2011    1704
 Apr-2011    1563
 Mar-2011    1448
 Jan-2011    1380
 Feb-2011    1298
 Dec-2010    1269
 Oct-2010    1133
 Nov-2010    1121
 Jul-2010    1119
 Sep-2010    1087
 Aug-2010    1078
 Jun-2010    1029
 May-2010     920
 Apr-2010     827
 Mar-2010     737
 Feb-2010     627
 Nov-2009     602
 Dec-2009     598
 Jan-2010     589
 Oct-2009     545
 Sep-2009     449
 Aug-2009     408
 Jul-2009     374
 Jun-2009     356
 May-2009     319
 Apr-2009     290
 Mar-2009     276
 Feb-2009     260
 Jan-2009     239
 Mar-2008     236
 Dec-2008     223
 Nov-2008     184
 Feb-2008     174
 Jan-2008     171
 Apr-2008     155
 Oct-2008      96
 Dec-2007      85
 Jul-2008      83
 May-2008      71
 Aug-2008      71
 Jun-2008      66
 Oct-2007      47
 Nov-2007      37
 Aug-2007      33
 Sep-2008      32
 Jul-2007      30
 Sep-2007      18
 Jun-2007       1
 Name: issue_d, dtype: int64,
 Fully Paid            33136
 Charged Off            5634
 Current                 961
 Late (31-120 days)       24
 In Grace Period          20
 Late (16-30 days)         8
 Default                   3
 Name: loan_status, dtype: int64,
 n    39785
 y        1
 Name: pymnt_plan, dtype: int64,
 debt_consolidation    18676
 credit_card            5137
 other                  4001
 home_improvement       2985
 major_purchase         2188
 small_business         1831
 car                    1551
 wedding                 948
 medical                 695
 moving                  583
 house                   382
 vacation                381
 educational             325
 renewable_energy        103
 Name: purpose, dtype: int64,
 Debt Consolidation                          2191
 Debt Consolidation Loan                     1733
 Personal Loan                                661
 Consolidation                                517
 debt consolidation                           508
                                             ...
 High and Steady Income (Car Improvement)       1
 Road To Debt Freedom!!!                        1
 2012 Debt Consolidation                        1
 Wedding Expenses--Tying the Knot!              1
 JAL Loan                                       1
 Name: title, Length: 19643, dtype: int64,
 100xx    597
 945xx    546
 112xx    517
 606xx    503
 070xx    473
         ...
 381xx      1
 471xx      1
 378xx      1
 739xx      1
 469xx      1
 Name: zip_code, Length: 823, dtype: int64,
 CA    7105
 NY    3817
 FL    2872
 TX    2734
 NJ    1855
 IL    1525
 PA    1519
 VA    1408
 GA    1399
 MA    1344
 OH    1226
 MD    1055
 AZ     882
 WA     842
 CO     792
 NC     789
 CT     754
 MI     722
 MO     686
 MN     616
 NV     498
 SC     472
 WI     460
 AL     452
 OR     451
 LA     436
 KY     327
 OK     300
 KS     272
 UT     259
 AR     246
 DC     214
 RI     199
 NM     190
 WV     177
 HI     174
 NH     172
 DE     114
 MT      85
 WY      83
 AK      81
 SD      64
 VT      54
 MS      19
 TN      17
 IN       9
 ID       6
 IA       5
 NE       5
 ME       3
 Name: addr_state, dtype: int64,
 Nov-1998    371
 Oct-1999    366
 Dec-1998    349
 Oct-2000    346
 Dec-1997    329
            ...
 Feb-1966      1
 Dec-1961      1
 Oct-1954      1
 Jun-1972      1
 Oct-1974      1
 Name: earliest_cr_line, Length: 526, dtype: int64,
 f    39786
 Name: initial_list_status, dtype: int64,
 Jun-2016    1143
 Mar-2013    1026
 Dec-2014     945
 May-2013     907
 Feb-2013     869
             ...
 Jun-2008      10
 Nov-2008      10
 Mar-2008       5
 Jan-2008       4
 Feb-2008       1
 Name: last_pymnt_d, Length: 102, dtype: int64,
 Jun-2016    11739
 Mar-2016     1061
 Apr-2016      865
 Feb-2013      839
 May-2016      737
             ...
 Jul-2008        1
 May-2008        1
 Jun-2008        1
 May-2007        1
 Jul-2007        1
 Name: last_credit_pull_d, Length: 107, dtype: int64,
 INDIVIDUAL    39786
 Name: application_type, dtype: int64]

In [30]:
#df.memory_usage(deep=True)
obj_cols_mem = df_39786.memory_usage(deep=True)

obj_cols_sum = (obj_cols_mem.sum()) / (2**20)
obj_cols_sum

49.87264156341553

In [31]:
loans_chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

uniques = {}
for lc in loans_chunks:
    strings_only = lc.select_dtypes(include=['object'])
    cols = strings_only.columns
    for c in cols:
        val_counts = strings_only[c].value_counts()
        if c in uniques:
            uniques[c].append(val_counts)
        else:
            uniques[c] = [val_counts]

uniques_combined = {}
unique_stats = {
    'column_name': [],
    'total_values': [],
    'unique_values': [],
}
for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    if u_group.shape[0] < 50:
        print(col, u_group.shape[0])

term 2
grade 7
sub_grade 35
emp_length 11
home_ownership 5
verification_status 3
loan_status 9
pymnt_plan 2
purpose 14
initial_list_status 1
application_type 1

In [32]:
#df.memory_usage(deep=True)
obj_cols_mem = df.memory_usage(deep=True)

obj_cols_sum = (obj_cols_mem.sum()) / (2**20)

In [33]:
obj_cols_sum

66.44068431854248

In [34]:
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

In [35]:
import pandas as pd
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])

for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)

In [36]:
import pandas as pd
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])

for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)

chunk_iter

In [37]:
for chunk in chunk_iter:
    print(chunk)