* Connect to the moma.db SQLite database.
* Create an iterator using pandas.read_csv() that will process chunks of 1000 rows from moma.csv at a time. Assign this iterator to moma_iter.
* Use moma_iter to read in chunks of 1000 rows into a dataframe.
* Append each dataframe chunk to the exhibitions table in moma.db without including the index values.

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('moma.db')

moma_iter = pd.read_csv('moma.csv', chunksize=1000)

for chunk in moma_iter:
    chunk.to_sql("exhibitions", conn, if_exists='append', index=False)

* Use the pandas.read_sql() function to query moma.db and return the column types for the exhibitions table. Assign the resulting dataframe to results_df.
* Display results_df using the print() function.

In [3]:
results_df = pd.read_sql('PRAGMA table_info(exhibitions);', conn)
results_df

    cid                    name     type  notnull dflt_value  pk
0     0            ExhibitionID  INTEGER        0       None   0
1     1        ExhibitionNumber     TEXT        0       None   0
2     2         ExhibitionTitle     TEXT        0       None   0
3     3  ExhibitionCitationDate     TEXT        0       None   0
4     4     ExhibitionBeginDate     TEXT        0       None   0
5     5       ExhibitionEndDate     TEXT        0       None   0
6     6     ExhibitionSortOrder  INTEGER        0       None   0
7     7           ExhibitionURL     TEXT        0       None   0
8     8          ExhibitionRole     TEXT        0       None   0
9     9           ConstituentID     REAL        0       None   0
10   10         ConstituentType     TEXT        0       None   0
11   11             DisplayName     TEXT        0       None   0
12   12               AlphaSort     TEXT        0       None   0
13   13               FirstName     TEXT        0       None   0
14   14              MiddleName     TEXT        0       None   0
15   15                LastName     TEXT        0       None   0
16   16                  Suffix     TEXT        0       None   0
17   17             Institution     TEXT        0       None   0
18   18             Nationality     TEXT        0       None   0
19   19    ConstituentBeginDate     REAL        0       None   0
20   20      ConstituentEndDate     REAL        0       None   0
21   21               ArtistBio     TEXT        0       None   0
22   22                  Gender     TEXT        0       None   0
23   23                  VIAFID     REAL        0       None   0
24   24              WikidataID     TEXT        0       None   0
25   25                  ULANID     REAL        0       None   0
26   26          ConstituentURL     TEXT        0       None   0

* For each dataframe chunk, convert the ExhibitionSortOrder column to the int16 data type using the Series.astype() method.
* Use the pandas.read_sql() function to query moma.db and return the column types for the exhibitions table. Assign the resulting dataframe to results_df.
* Display results_df using the print() function.

In [5]:
convert_col_dtypes = {
    "ExhibitionSortOrder": "int16"
}

moma_iter = pd.read_csv('moma.csv', chunksize=1000)

  
for chunk in moma_iter:
    chunk['ExhibitionSortOrder'] = chunk['ExhibitionSortOrder'].astype('int16')
    chunk.to_sql("exhibitions", conn, if_exists='append', index=False)

results_df = pd.read_sql('PRAGMA table_info(exhibitions);', conn)
results_df

    cid                    name     type  notnull dflt_value  pk
0     0            ExhibitionID  INTEGER        0       None   0
1     1        ExhibitionNumber     TEXT        0       None   0
2     2         ExhibitionTitle     TEXT        0       None   0
3     3  ExhibitionCitationDate     TEXT        0       None   0
4     4     ExhibitionBeginDate     TEXT        0       None   0
5     5       ExhibitionEndDate     TEXT        0       None   0
6     6     ExhibitionSortOrder  INTEGER        0       None   0
7     7           ExhibitionURL     TEXT        0       None   0
8     8          ExhibitionRole     TEXT        0       None   0
9     9           ConstituentID     REAL        0       None   0
10   10         ConstituentType     TEXT        0       None   0
11   11             DisplayName     TEXT        0       None   0
12   12               AlphaSort     TEXT        0       None   0
13   13               FirstName     TEXT        0       None   0
14   14              MiddleName     TEXT        0       None   0
15   15                LastName     TEXT        0       None   0
16   16                  Suffix     TEXT        0       None   0
17   17             Institution     TEXT        0       None   0
18   18             Nationality     TEXT        0       None   0
19   19    ConstituentBeginDate     REAL        0       None   0
20   20      ConstituentEndDate     REAL        0       None   0
21   21               ArtistBio     TEXT        0       None   0
22   22                  Gender     TEXT        0       None   0
23   23                  VIAFID     REAL        0       None   0
24   24              WikidataID     TEXT        0       None   0
25   25                  ULANID     REAL        0       None   0
26   26          ConstituentURL     TEXT        0       None   0

* Query the exhibitions table in moma.db to return both the unique values in the ExhibitionID column and the counts in descending order by the counts as a dataframe. Here's how the dataframe should be formatted:
* Assign the resulting dataframe to eid_counts and display the first 10 rows.

In [6]:
moma_iter = pd.read_csv('moma.csv', chunksize=1000)

q = 'select ExhibitionID, count(*) as counts from exhibitions group by 1 order by 2 desc;'
eid_counts = pd.read_sql(q, conn)

* From the exhibitions table in moma.db, return the ExhibitionID column as a dataframe.
* Calculate the unique value counts of the ExhibitionID column in pandas, and assign them to eid_pandas_counts. Display the first 10 rows.

In [7]:
q = 'select ExhibitionID from exhibitions;'
q_eid = pd.read_sql(q, conn)
eid_pandas_counts = q_eid['ExhibitionID'].value_counts()

In this lesson, we explored how to augment our pandas workflow with SQLite to handle larger data sets. We learned that while SQLite can represent larger data sets on disk, it's slower for most computations. In the next lesson, we'll learn the basics of building data pipelines to operationalize our data processing work.

In [11]:
conn = sqlite3.connect('moma.db')
cursor = conn.cursor()

query1 = "select * from exhibitions limit 10;"
cursor.execute(query1)
base = cursor.fetchall()
print(base[:5])
#conn.close()

[(2557, '1', 'Cézanne, Gauguin, Seurat, Van Gogh', '[MoMA Exh. #1, November 7-December 7, 1929]', '11/7/1929', '12/7/1929', 1, 'http://www.moma.org/calendar/exhibitions/1767', 'Director', 9168.0, 'Individual', 'Alfred H. Barr, Jr.', 'Barr Alfred H. Jr.', 'Alfred', 'H.', 'Barr', 'Jr.', None, 'American', 1902.0, 1981.0, 'American, 1902–1981', 'Male', 109252853.0, 'Q711362', 500241556.0, 'moma.org/artists/9168'), (2557, '1', 'Cézanne, Gauguin, Seurat, Van Gogh', '[MoMA Exh. #1, November 7-December 7, 1929]', '11/7/1929', '12/7/1929', 1, 'http://www.moma.org/calendar/exhibitions/1767', 'Artist', 1053.0, 'Individual', 'Paul Cézanne', 'Cézanne Paul', 'Paul', None, 'Cézanne', None, None, 'French', 1839.0, 1906.0, 'French, 1839–1906', 'Male', 39374836.0, 'Q35548', 500004793.0, 'moma.org/artists/1053'), (2557, '1', 'Cézanne, Gauguin, Seurat, Van Gogh', '[MoMA Exh. #1, November 7-December 7, 1929]', '11/7/1929', '12/7/1929', 1, 'http://www.moma.org/calendar/exhibitions/1767', 'Artist', 2098.0, 'Individual', 'Paul Gauguin', 'Gauguin Paul', 'Paul', None, 'Gauguin', None, None, 'French', 1848.0, 1903.0, 'French, 1848–1903', 'Male', 27064953.0, 'Q37693', 500011421.0, 'moma.org/artists/2098'), (2557, '1', 'Cézanne, Gauguin, Seurat, Van Gogh', '[MoMA Exh. #1, November 7-December 7, 1929]', '11/7/1929', '12/7/1929', 1, 'http://www.moma.org/calendar/exhibitions/1767', 'Artist', 2206.0, 'Individual', 'Vincent van Gogh', 'Gogh Vincent van', 'Vincent', None, 'van Gogh', None, None, 'Dutch', 1853.0, 1890.0, 'Dutch, 1853–1890', 'Male', 9854560.0, 'Q5582', 500115588.0, 'moma.org/artists/2206'), (2557, '1', 'Cézanne, Gauguin, Seurat, Van Gogh', '[MoMA Exh. #1, November 7-December 7, 1929]', '11/7/1929', '12/7/1929', 1, 'http://www.moma.org/calendar/exhibitions/1767', 'Artist', 5358.0, 'Individual', 'Georges-Pierre Seurat', 'Seurat Georges-Pierre', 'Georges-Pierre', None, 'Seurat', None, None, 'French', 1859.0, 1891.0, 'French, 1859–1891', 'Male', 24608076.0, 'Q34013', 500008873.0, 'moma.org/artists/5358')]